@import "../../global.scss";
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    background-color: black;
  }
.ImgItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* opacity: 0%; */
  }
img {
    transition: all .5s ease;
}
.newImg:hover {
    opacity: 0%;
    z-index: 0;
  }
.ImgTitle {
    position: absolute;
    pointer-events: none;
    @include mobile {
      font-size: small;
    }
  }
.newImg {
  width: 100%;
  height: 100%;
}
.grid {
  margin: 40px 0;
  background-color: black;
}


.grid2{
  background-color: black;
  display: grid;
  // gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr) );

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }
}

.one{
  display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    background-color: black;
}

.one-tall {
  grid-row: span 2 / auto;
  grid-column: span 2 / auto;

  @include mobile {
    grid-row: span 1 / auto;
    grid-column: span 1 / auto;
  }
}