@import "../../global.scss";


.testDiv {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-color: aqua;
    justify-content: center;
    align-items: center;
  
  }
  .textDivInside {
    display: flex;
    // background-color: red;
    justify-content: center;
    align-items: center;
    height: 80px
  }
  .letterDiv {
    height: 100%;
    // background-color: royalblue;
    padding: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    img {
      border:0;
    }
  }
  .letterLong {
    background-color: white;
    height: 80px;
    width: 20px;
  }
  .letterWide {
    background-color: white;
    height: 20px;
    width: 30px;
  }


  .TitleDiv {
    // margin-left: 100px;
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    // b`ckground-color: black;
    
    // background-image: url('./images/backgrounds/background1.png');
    // background-size: cover;
    // background-position: center bottom;
  
    @include mobile {
      // margin-left: 25px;
      padding-left: 25px;
      padding-top: 250px;
    }
  }
  
  .title1 {
    color: #888888;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
    line-height: 60%;
  
    @include mobile {
      font-size: 80px;
    }
  }
  .title2 {
    color: white;
    font-size: 120px;
    font-weight: 800;
    margin: 0;
    line-height: 80%;
    margin-top: 20px;
  
    @include mobile {
      font-size: 80px;
    }
  }
  .title3 {
    color: #888888;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    line-height: 80%;
    margin-top: 20px;
  
    @include mobile {
      font-size: 30px;
    }
  }